.profile__avatar-edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    padding: 47px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .3s;
  }
  
  .profile__avatar-edit:hover {
    opacity: 1;
  }