@import url("./__image/place__image.css");
@import url("./__text-container/place__text-container.css");
@import url("./__title/place__title.css");
@import url("./__like-button/place__like-button.css");
@import url("./__like-button/_liked/place__like-button_liked.css");
@import url("./__trash-button/place__trash-button.css");
@import url("./__trash-button/_hidden/place__trash-button_hidden.css");
@import url("./__likes/place__likes.css");
.place {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
