.popup__container {
  position: relative;
  margin: 195px auto;
  padding: 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  max-width: 430px;
  height: 330px;
  z-index: 1;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .popup__container {
    margin: 150px 40px;
  }
}
