.popup__exit {
  position: absolute;
  width: 41px;
  height: 41px;
  right: -41px;
  top: -41px;
  background-image: url("../../../images/close-icon.png");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  border: none;
  margin: 0;
  padding: 0;
  transition: opacity .5s;
}

.popup__exit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .popup__exit {
    right: 0;
    top: 0;
  }
}