.place__like-button {
  height: 18px;
  width: 21px;
  background: url("../../../images/like.svg");
  background-size: cover;
  border: none;
  padding: 0;
  margin: 0;
}

.place__like-button:hover {
  opacity: .8;
}