.popup__img-container {
  margin: auto;
  width: 80%;
  max-width: 700px;
  position: relative;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .popup__img-container {
    width: 100%;
    margin: 136px 40px;
  }
}
